<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TicTacToe.Vision.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TicTacToe.Vision.UI.Properties.Settings>
            <setting name="Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Threshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CameraCalibrationFile" serializeAs="String">
                <value />
            </setting>
            <setting name="RobotCalibrationFile" serializeAs="String">
                <value />
            </setting>
        </TicTacToe.Vision.UI.Properties.Settings>
    </userSettings>
</configuration>